body, input, button {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    padding: 40px;
}

.SearchBox {
    position: fixed;
    top: 70px; 
    left: 270px;
}

.SearchBox div {
    border: solid 1px #999;
    display: inline-block;
}

.SearchBox input {
    width: 500px;
    font-size: 16px;
    border: none;
    padding :10px;
    background-color: rgba(255,255,255,0.7);
}
.SearchBox button {
    height: 43px;
    margin-left: -1px;
    position:relative;
    top:-1px;
 }

.ResultBox {
    padding-top: 66px;
    margin-left: 212px;
}

.ResultBox .ImageResult {
    /*border: solid 1px #ccc;
    background-color: #fafafa;*/
    margin: 10px;
    display: inline-block;
}

.ResultBox .ImageResult div {
    /*background-color: #333;*/
    /*width: 240px;*/
    height: 150px; 
}

.ResultBox .ImageResult img {
    max-width: 200px;
    height: 150px;
    vertical-align: top;
}

.HistoryBox {
    width: 200px;
    position:fixed;
    top: 70px;
    left: 30px;
    padding: 10px;
}

.HistoryBox div div {
    border: solid 1px #ccc;
    cursor: pointer;
    padding: 2px;
    padding-left: 10px;
    
    margin-bottom: 2px;
}

.HistoryBox div div:hover { 
    background-color: #333;
    color: white;
}
