body, input, button {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    padding: 40px;
}

.SearchBox {
    position: fixed;
    top: 70px; 
    left: 270px;
}

.SearchBox div {
    border: solid 1px #999;
    display: inline-block;
}

.SearchBox input {
    width: 500px;
    font-size: 16px;
    border: none;
    padding :10px;
    background-color: rgba(250,252,128,0.7);
}
.SearchBox button {
    height: 43px;
    margin-left: -1px;
    position:relative;
    top:-1px;
 }

.ResultBox {
    padding-top: 80px;
}

.ResultBox .ImageResult {
    /*border: solid 1px #ccc; */
    background-color: #fafafa;
    margin: 10px;
    display: inline-block;
    width: 200px;
    height: 170px;
}

.ResultBox .ImageResult img {
    width: 200px;
    height: 170px;
    vertical-align: top;
    margin:auto;
    overflow: hidden;
}


.HistoryBox {
    width: 200px;
    position:fixed;
    top: 70px;
    left: 30px;
    padding: 10px;
}

.HistoryBox div div {
    border: solid 1px #ccc;
    cursor: pointer;
    padding: 2px;
    padding-left: 10px;
    
    margin-bottom: 2px;
}

.HistoryBox div div:hover { 
    background-color: #333;
    color: white;
    font-weight: bold;
}
